.test {
  background-color: red;
  color: white;
  border: thin solid green;
}

div#maintoolbar {
  background-color: red;
}

.answer {
  color: grey;
  background-color: grey;
  padding: .5em;
  border: thin solid grey;
  border-radius: 10px;
}

.answer::before {
   content: "mouse over to see the answer!";
   color: black;
   font-weight: bold;
}

.answer:hover {
  color: inherit;
  background-color: inherit;
  height: inherit;
  border-radius: inherit;
}

.answer:hover::before {
  content: "";
}
