.test {
  background-color: blue;
  color: white;
  border: thin solid green;
}

.answer {
  color: grey;
  background-color: grey;
  padding: .5em;
  border: thin solid grey;
  border-radius: 10px;
  white-space: pre;
}

.answer::before {
   content: "mouse over to see an example solution";
   font-style: italic;
   color: black;
   font-weight: bold;
}

.answer:hover {
  color: inherit;
  background-color: inherit;
  height: inherit;
  border-radius: inherit;
}

.answer:hover::before {
  content: "";
}
